ul li {
    height: 80px;
    width: 100px;
    background-color: red;
    line-height: 80px;
    float: left;
    z-index: 10;
    text-align: center;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    height: 50px;
    display: block;
    background-color: #fff;
}
